/* ===== GENERAL FLAG STYLING ===== */
#chile, #denmark, #finland, #benin {
    display: grid;
    width: 300px;
    height: 200px;
    margin: 20px auto;
    border: 1px solid black;
  }
  
  /* =========================
     CHILE FLAG
  ========================= */
  #chile {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
  }
  
  #blue {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: #0033a0;
    display: grid;
    place-items: center;
  }
  
  #white {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: white;
  }
  
  #red {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background: red;
  }
  
  .star {
    width: 70px;
    aspect-ratio: 1;
    background: white;
    clip-path: polygon(
      50% 0%, 61% 35%, 98% 35%, 68% 57%, 
      79% 91%, 50% 70%, 21% 91%, 32% 57%, 
      2% 35%, 39% 35%
    );
  }
  
  /* =========================
     DENMARK FLAG
  ========================= */
  #denmark {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 200px;
  }
  
  #dred1, #dred2, #dred3, #dred4 {
    background: red; /* default red background */
  }
  
  /* vertical white cross */
  #dred2 {
    background: white;
    grid-column: 2 / 4;
    grid-row: 1 / 4;
  }
  
  /* horizontal white cross */
  #dred4 {
    background: white;
    grid-column: 1 / 6;
    grid-row: 2 / 3;
  }
  
  /* =========================
     FINLAND FLAG
  ========================= */
  #finland {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 200px;
  }
  
  #fwhite1, #fwhite2, #fwhite3, #fwhite4 {
    background: white; /* default white background */
  }
  
  /* vertical blue cross */
  #fwhite2 {
    background: #003580;
    grid-column: 2 / 4;
    grid-row: 1 / 4;
  }
  
  /* horizontal blue cross */
  #fwhite4 {
    background: #003580;
    grid-column: 1 / 6;
    grid-row: 2 / 3;
  }
  
  /* =========================
     BENIN FLAG
  ========================= */
  #benin {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    width: 300px;
    height: 200px;
  }
  
  #bgreen {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background: #008751;
  }
  
  #byellow {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: #fcd116;
  }
  
  #bred {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: #ce1126;
  }
  